@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Light.otf') format("opentype");
  font-style: normal;    
  font-weight: 300;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Medium.otf') format("opentype");
  font-style: normal;    
  font-weight: 500;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProThin.otf') format("opentype");
  font-style: normal;    
  font-weight: 200;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProRegular.otf') format("opentype");
  font-style: normal;    
  font-weight: 400;
}

* {
    font-family: "GalakRound";
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

header {
  font-family: "GalakRound";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  padding: 18px 10%;
  background-color: #26DD9B;
}

.nav__links a,
.cta,
.overlay__content a {
    font-size: 14;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  column-gap: 40px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  position: relative;
}

.nav__links li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav__links li a:hover::before {
transform-origin: left;
transform: scaleX(1);
}

.profilepicture {
    width: 4%;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgb(102, 241, 190);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  column-gap: 40px;
}

.leftdiv {
  display: flex;
  flex-direction: column;
  row-gap: 1.8em;
  color: #515151;
  font-weight: 300;
  font-size: 20px;
}

.row1 {
  color: white;
  display: flex;
  border-radius: 30px;
  background: linear-gradient(270deg, #74EE9B 0%, #26DD9B 100%);
  align-items: center;
  padding: 2% 9%;
  font-size: 18px;
}

.rowimg {
  margin-left: 40%;
}

.row1 div {
  margin: 0px;
}

.text1 {
  font-weight: 200;
  margin-right: 4em;
}

.text2 {
  font-weight: 500;
}

.rightdiv {
  display: flex;
  flex-direction: column;
}

.right-top-div {
  border-radius: 30px;
  border: 3px solid #26DD9B;
}

.right-bottom-div {
  display: flex;
  flex-direction: column;
  background-color: #26E39F;
  filter: drop-shadow(0px 10px 100px rgba(33, 33, 33, 0.10));
  padding: 2em;
  border-radius: 30px;
  row-gap: 1em;
}

.top-info div {
  border: 3px solid transparent;
  border-radius: 12px;
  background: 
    linear-gradient(to right, rgba(67, 235, 175), rgba(67, 235, 175)), 
    linear-gradient(to bottom, rgba(255, 0, 0, 0) , rgb(255, 255, 255)); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  padding: 18px 40px;
  background-color: #43EBAF;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kilo {
  font-size: 24px;
}

.top-info {
  display: flex;
  column-gap: 1em;
}

.top-info div {
  display: flex;
  flex-direction: column;
  row-gap: 1.4em;
  white-space: nowrap;
}

.top-info-p {
  margin-top: 33px;
  position: absolute;
  font-size: 14px;
  font-weight: 200;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.bottom-info div {
  font-size: 16px;
  color: white;
  padding: 4%;
  text-align: center;
  border: 3px solid transparent;
  border-radius: 12px;
  background: 
    linear-gradient(to right, rgba(67, 235, 175), rgba(67, 235, 175)), 
    linear-gradient(to bottom, rgba(255, 0, 0, 0) , rgb(255, 255, 255)); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-color: #43EBAF;
}

.row2 {
  display: flex;
  justify-content: center;
  column-gap: 1.4em;
}

.row2 div {
  flex: 1;
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), 
    linear-gradient(to left, #26DD9B , #74EE9B); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-color: #ffffff;
}

.row3 {
  display: flex;
  justify-content: space-around;
  column-gap: 1.4em;
}

.row3 div {
  flex: 1;
  margin-bottom: 100px;
  text-align: center;
  padding: 26px 40px;
  border: 3px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), 
    linear-gradient(to left, #26DD9B , #74EE9B); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-color: #ffffff;
  row-gap: 12px;
  justify-content: space-around;
}
