@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Light.otf') format("opentype");
  font-style: normal;    
  font-weight: 300;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Medium.otf') format("opentype");
  font-style: normal;    
  font-weight: 500;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProThin.otf') format("opentype");
  font-style: normal;    
  font-weight: 200;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProRegular.otf') format("opentype");
  font-style: normal;    
  font-weight: 400;
}

.formulario {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.formulario h1 {
    font-size: 60px;
    font-weight: 300;
}

* {
    color: #313131;
    font-family: "GalakRound";
    text-decoration: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

@font-face {
    font-family: "GalakRound";
    src: url('../GalakRound/GalakRound-Light.otf') format("opentype");
    font-style: normal;    
    font-weight: 300;
  }
  
  @font-face {
    font-family: "GalakRound";
    src: url('../GalakRound/GalakRound-Medium.otf') format("opentype");
    font-style: normal;    
    font-weight: 500;
  }
  
  @font-face {
    font-family: "GalakRound";
    src: url('../GalakRound/GalakRound-GalakProThin.otf') format("opentype");
    font-style: normal;    
    font-weight: 200;
  }
  
  @font-face {
    font-family: "GalakRound";
    src: url('../GalakRound/GalakRound-GalakProRegular.otf') format("opentype");
    font-style: normal;    
    font-weight: 400;
  }
  
  * {
      color: #313131;
      font-family: "GalakRound";
      text-decoration: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
  }
  
  .Intro h1 {
      font-size: 60px;
      font-weight: 300;
  }
  
  .main-container {
      margin-left: 100px;
      display: flex;
      column-gap: 140px;
  }
  
  .status {
      display: grid;
      grid-template-columns: 35% 65%;
      width: 150px;
  }
  
  .log-status {
      text-align: left;
      background-color: #26DD9B;  
      height: 30px;
      border-radius: 5px 5px 0px 5px;
  }
  
  .log-overlay {
      width: 100%;
      height: 90%;
      background: #fff;
  }
  
  .cad-status {
      text-align: right;
      justify-content: center;
      background: #d0d0d0 ;
      height: 30px;
      border-radius: 5px 5px 5px 0;
  }
  
  .cad-overlay {
      width: 100%;
      height: 90%;
      background: #fff;
  }
  
  .log-status a {
      color: #282828;
      text-decoration: none;
      background-color: #ffffff;
      font-size: 18px;
  }
  
  .cad-status a {
      color: #282828;
      text-decoration: none;
      background-color: #ffffff;
      font-size: 18px;
  }
  
  .input-box input {
      color: #565656;
      height: 3.2em;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: #F2F2F2;
      margin: 0;
  }
  
  .input-box {
      margin: 0;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 2px;
  }
  
  
  .input:focus{
      outline-width: 0;
      border-width: 1px;
      border-color: #26DD9B;
      border-style: solid;
  }
  
  .input:focus::placeholder {
      color: transparent;
      border: none;
  }
  
  .input {
    padding: 10px 10px;
}
  
  .formall {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
  }
  
  .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .logar {
      padding: 10px 20px;
      text-align: center;
      width: 40%;
      border-radius: 12px;
      border: none;
      color: white;
      background-color: #26DD9B;
  }