@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Light.otf') format("opentype");
  font-style: normal;    
  font-weight: 300;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Medium.otf') format("opentype");
  font-style: normal;    
  font-weight: 500;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProThin.otf') format("opentype");
  font-style: normal;    
  font-weight: 200;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProRegular.otf') format("opentype");
  font-style: normal;    
  font-weight: 400;
}

* {
    font-family: "GalakRound";
    text-decoration: none;
}

body {
  overflow: hidden;
}

.container1 {
    display: flex;
}

.alloptions {
    row-gap: 1em;
    display: flex;
    flex-direction: column;
}

.alloptions div {
    font-size: 14px;
    color: #B2B2B2;
    display: flex;
    column-gap: 12px;
}

.alloptions div:hover {
    cursor: pointer;
}

.leftdiv {
    display: flex;
    flex-direction: column;
    row-gap: 7em;
    padding: 70px 6%;
}

.sair {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    font-size: 14px;
    margin-left: 14px;
    margin-right: 14px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    background: linear-gradient(270deg, #EF6E5D -113.27%, #FE3B22 100%);
}

.op {
  letter-spacing: 1px;
}

.p1 {
  color: #26DD9B;
}

.p2 {
  color: #B2B2B2;
}

.p3 {
  color: #B2B2B2;
}

.p4 {
  color: #B2B2B2;
}

.p5 {
  color: #B2B2B2;
}

.op p {
  position: relative;
}

.op p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.op p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #26DD9B;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.rightdiv1 {
  display: none;
}

.rightdiv2 {
  display: none;
}

.rightdiv3 {
  display: none;
}

.rightdiv4 {
  display: none;
}

.rightdiv5 {
  display: none;
}