@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Light.otf') format("opentype");
  font-style: normal;    
  font-weight: 300;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-Medium.otf') format("opentype");
  font-style: normal;    
  font-weight: 500;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProThin.otf') format("opentype");
  font-style: normal;    
  font-weight: 200;
}

@font-face {
  font-family: "GalakRound";
  src: url('../GalakRound/GalakRound-GalakProRegular.otf') format("opentype");
  font-style: normal;    
  font-weight: 400;
}

header {
  font-family: "GalakRound";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  padding: 22px 10%;
  background-color: #26DD9B;
  font-size: 14px;
}

.nav__links a,
.cta,
.overlay__content a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav__links {
  list-style: none;
  display: flex;
  column-gap: 10px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  position: relative;
}

.nav__links a:hover {
  box-shadow: inset 160px 0 0 0 #ffffff;
  color: #26DD9B;
}

.line-chart {
    width: 100%;
    max-width: 800px;
}

.canvas-1 {
    display: flex;
    justify-content: center;
}

.profilepicture {
    width: 3.4%;
    cursor: pointer;
}

.gohome {
  cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
    font-family: "GalakRound";
    text-decoration: none;
}

.container1 {
    display: flex;
}

.alloptions {
    row-gap: 1.2em;
    display: flex;
    flex-direction: column;
}

.alloptions div {
    font-size: 13px;
    color: #B2B2B2;
    display: flex;
    column-gap: 12px;
}

.alloptions div:hover {
    cursor: pointer;
}

.leftdiv {
  margin-top: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 6em;
    padding: 60px 5%;
    white-space: nowrap;
}

.sair {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    font-size: 13px;
    margin-left: 14px;
    margin-right: 14px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    background: linear-gradient(270deg, #EF6E5D -113.27%, #FE3B22 100%);
}


.op {
  letter-spacing: 1px;
}

.p1 {
  color: #26DD9B;
}

.p2 {
  color: #B2B2B2;
}

.p3 {
  color: #B2B2B2;
}

.p4 {
  color: #B2B2B2;
}

.p5 {
  color: #B2B2B2;
}

.op p {
  position: relative;
}

.op p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.op p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #26DD9B;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.rightdiv1 {
  display: block;
  flex-direction: column;
}

.bannerpicture {
  width: 1500px;
  height: 150px;
  max-width: 100%;
}

.bannerinput {
  display: none;
}

.pictureinput {
  display: none;
}

.profilelabel {
  cursor: pointer;
  left: 36.5%;
  top: 17.5%;
  font-size: 13px;
  position: absolute;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #ffffff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.bannerlabel {
  cursor: pointer;
  left: 70%;
  top: 12%;
  padding: 12px 2.6%;
  font-size: 13px;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #ffffff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.back p {
  margin: 0px;
}

.back {
  top: 20px;
  padding: 6px 22px;
  position: absolute;
  display: flex;
  justify-content: center;
  border: 1px solid #b5b5b5;
  border-radius: 30px;
  color: black;
  column-gap: 8px;
  font-size: 18px;
}

.bannerlabel:hover {
  box-shadow: inset 166px 0 0 0 #ffffff;
  color: #26DD9B;
}

.profilelabel:hover {
  box-shadow: inset 166px 0 0 0 #00000064;
}

.rightdiv2 {
  display: none;
}

.rightdiv3 {
  display: none;
}

.rightdiv4 {
  display: none;
}

.rightdiv5 {
  display: none;
}

.profilepicture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
  border: 10px solid #ffffff;
}

.profilepicture:hover + .profilelabel{
  display: flex;
}

.profilepicture:hover {
  filter: brightness(50%);
  scale: 1.06;
}

.user {
  position: relative;
  bottom: 40px;
  display: flex;
  column-gap: 3em;
  margin-left: 12em;
}

.usernames p {
  font-weight: 300;
  color: #7F7F7F;
  margin: 0;
  padding: 0;
}

.usernames h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.usernames {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.user-input {
  display: flex;
  flex-direction: column;
  margin-left: 12em;
  row-gap: 4px;
}

.input {
  font-weight: 300;
  border-radius: 10px;
  border: 2px solid #E7E7E7;
  padding: 10px 10%;
  padding-left: 16px;
  margin-right: 30em; 
}

.inputbio {
  border-radius: 10px;
  font-weight: 300;
  border: 2px solid #E7E7E7;
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 100px;
  margin-right: 30em;
}

.profile-form-buttons {
  font-weight: 200;
  display: flex;
  margin-left: 12em;
  margin-top: 10px;
  margin-bottom: 60px;
  column-gap: 12px;
}

.input1 {
  font-weight: 200;
  font-size: 16px;
  padding: 13px 5%;
  border-radius: 10px;
  background: #26DD9B;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #26DD9B;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.input1:hover {
  box-shadow: inset 260px 0 0 0 #74EE9B;
  color: #ffffff;
}

.input2 {
  font-weight: 200;
  font-size: 16px;
  padding: 13px 5%;
  border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #C1C1C1;
  color: #C1C1C1;
  background: transparent;
  cursor: pointer;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.input2:hover {
  box-shadow: inset 166px 0 0 0 #f84f39;
  color: #ffffff;
}

.rightdiv2 img {
  display: flex;
  margin-left: 20em;
  position: absolute;
}

.rightdiv2 {
  display: none;
  justify-content: center;
  margin-left: 15em;
}

.user-input2 {
  display: flex;
  flex-direction: column;
  color: #4F4F4F;
}

.reset-password-form {
  align-items: center;
  position: absolute;
}

.form2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 66%;
  row-gap: 1em;
  margin-left: 4em;
}

.form2 h1 {
  text-align: center;
  white-space: nowrap;
  color: #4F4F4F;
}

.user-input2 input {
  color: #4F4F4F;
  font-weight: 300;
  border-radius: 10px;
  border-radius: 5px;
  background: #F2F2F2;
  border: none;
  padding: 14px 4%;
}

.form2 a {
  margin: 0px;
  font-weight: 200;
  font-size: 16px;
  padding: 10px 40%;
  border-radius: 10px;
  background: #26DD9B;
  color: white;
  border: none;
  box-shadow: inset 0 0 0 0 #26DD9B;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.form2 a:hover {
  box-shadow: inset 290px 0 0 0 #74EE9B;
  color: #ffffff;
}